@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(194, 181, 0, 0.377);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin: 0;
    font-family: "Hanuman", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    background-color: rgba(255, 208, 0, 0.904);
    padding: 20px;
    width: 350px;
    max-width: 100%;
    border-radius: 1.8rem;
}

.result_container{
    background-color: rgba(0,0,0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    font-family: "Hanuman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.btn{
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 1.8rem;
}

.result_container .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    font-size: 20px;
}

.btn-large{ 
    width: 100%;
    display: block;
}